.fondo {
	position: absolute;
	width: 100%;
	z-index: -5;
	height: 100%;
}

body,
html {
	height: 100%;
}

header h1#logo {
	display: inline-block;
	height: 150px;
	font-family: "Oswald", sans-serif;
	font-size: 60px;
	color: white;
	font-weight: 400;
	line-height: 100px;
	text-align: justify;
	position: absolute;
	left: 42%;
}

/* remove outer padding */

.main .row {
	padding: 0px;
	margin: 0px;
}

/*Remove rounded coners*/

nav.sidebar.navbar {
	border-radius: 0px;
	position: absolute;
	background-color: #bdd80acc;
}

nav.sidebar,
.main {
	-webkit-transition: margin 200ms ease-out;
	-moz-transition: margin 200ms ease-out;
	-o-transition: margin 200ms ease-out;
	transition: margin 200ms ease-out;
}

/* Add gap to nav and right windows.*/

.main {
	padding: 10px 10px 0 10px;
}

/* .....NavBar: Icon only with coloring/layout.....*/

/*small/medium side display*/

@media (min-width: 344px) {

	/*Allow main to be next to Nav*/
	.main {
		position: absolute;
		width: calc(100% - 40px);
		/*keeps 100% minus nav size*/
		margin-left: 40px;
		float: right;
	}

	/*lets nav bar to be showed on mouseover*/
	nav.sidebar:hover+.main {
		margin-left: 200px;
	}

	/*Center Brand*/
	nav.sidebar.navbar.sidebar>.container .navbar-brand,
	.navbar>.container-fluid .navbar-brand {
		margin-left: 0px;
	}
	/*Center Brand*/
	nav.sidebar .navbar-brand,
	nav.sidebar .navbar-header {
		text-align: center;
		width: 100%;
		margin-left: 0px;
	}

	/*Center Icons*/
	nav.sidebar a {
		padding-right: 13px;
	}

	/*adds border top to first nav box */
	nav.sidebar .navbar-nav>li:first-child {
		border-top: 1px #e5e5e5 solid;
	}

	/*adds border to bottom nav boxes*/
	nav.sidebar .navbar-nav>li {
		border-bottom: 1px #e5e5e5 solid;
	}

	/*allows nav box to use 100% width*/
	nav.sidebar .navbar-collapse,
	nav.sidebar .container-fluid {
		padding: 0 0px 0 0px;
	}


	/*gives sidebar width/height*/
	nav.sidebar {
		width: 200px;
		height: 100%;
		margin-left: -160px;
		float: left;
		z-index: 8000;
		margin-bottom: 0px;
	}

	/*give sidebar 100% width;*/
	nav.sidebar li {
		width: 100%;
	}

	/* Move nav to full on mouse over*/
	nav.sidebar:hover {
		margin-left: 0px;
	}
	/*for hiden things when navbar hidden*/
	.forAnimate {
		opacity: 0;
	}
}

@media (min-width: 344px) {}

/* .....NavBar: Fully showing nav bar..... */

@media (max-width: 1330px) {

	/*Allow main to be next to Nav*/
	.main {
		width: calc(100% - 200px);
		/*keeps 100% minus nav size*/
		margin-left: 200px;
	}

	/*Show all nav*/
	nav.sidebar {
		margin-left: 0px;
		float: left;
	}
	/*Show hidden items on nav*/
	nav.sidebar .forAnimate {
		opacity: 1;
	}
}

nav:hover .forAnimate {
	opacity: 1;
}

section {
	padding-left: 15px;
}

body::-webkit-scrollbar {
	width: 7px;
	background-color: #084951;
}

body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: #FFB800;
	outline: 1px solid red;
}

.color-blue {
	color: #1D92AF
}

.color-segreen {
	color: #3F7577
}

.color-orang {
	color: #CE7B11
}

.padding-top>.col-md-6 {
	padding-bottom: 15px;
}


#contact {
	font-family: 'Roboto', sans-serif;
}

#contact .well {
	margin-top: 30px;
	border-radius: 0;
}

#contact .row {
	margin-bottom: 30px;
}

.ub-map {
	background-color: #b98e8e !important;
}

footer {
	background-color: #424558;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 35px;
	text-align: center;
	color: #CCC;
}

footer p {
	padding: 10.5px;
	margin: 0px;
	line-height: 100%;
}

.form-signin {
	max-width: 280px;
	padding: 15px;
	margin: 0 auto;
	margin-top: 140px;
}

.form-signin .form-signin-heading,
.form-signin {
	margin-bottom: 10px;
}

.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-color: #000;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-color: rgb(0, 0, 0);
	border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.form-horizontal .form-group {
	margin-left: 1px !important;
}

.form-signin-heading {
	color: #fff;
	text-align: center;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.form-reg {
	margin-top: 12%;
	margin-left: 20%;
}

.form-reg input {
	padding-top: 7%;
	padding-bottom: 3%;
	border-radius: 5px 6px;
}

.form-reg input:focus {
	border-color: orange;
}

.form-reg label {
	position: absolute;
}

.form-titulo {
	background-color: gold;
	color: white;
	width: 82%;
}

.btn-inverse {
	background-color: #ccb229;
	color: #0d0f01;
}

.texto-color {
	background-color: #ccb229;
	color: #0d0f01;
	width: 25%;
}

#btc {
	margin-left: 3%;
	border-bottom: 1px solid;
}

#btc li>a:focus {
	text-decoration: none;
	background-color: #cceaef;
}

#btc li>a:hover {
	text-decoration: none;
	background-color: #cceaef;
}

/* carusel de epecialidades */

.banner-04 {
	background: rgba(205, 245, 243, 0.31);
	float: left;
	width: 85%;
	padding: 15px 0;
	margin-left: 12%;
	height: 300px;
	margin-top: 21%;
}

.banner-04 p {
	font-size: 16px;
	line-height: 30px;
}

.banner-04 .glyphicon {
	color: #e8e511;
}

.banner-04 .content-sec {
	margin-top: 30px;
	padding-left: 20px;
	/* padding-right: 33px; */
	margin-right: -50px;
}

.banner-04 .carousel-inner {
	min-height: 400px
}

.full-width-navigation .carousel-control .glyphicon-chevron-right {
	right: 10%
}

.full-width-navigation .carousel-control .glyphicon-chevron-left {
	left: 10%
}

.small-width-navigation {
	bottom: 34%;
	position: absolute;
	width: 5%;
}

.carousel-caption {
	position: relative;
	left: 0%;
	right: 0%;
	bottom: 0px;
	z-index: 10;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #000;
	text-shadow: none;
}

& .btn {
	text-shadow: none; // No shadow for button elements in carousel-caption
}

.carousel {
	position: relative;
}

.controllers {
	position: absolute;
	top: 0px;
}

.carousel-control.left,
.carousel-control.right {
	background-image: none;
}

.carusel-img {
	width: 81%;
}
